.cds--side-nav--ux .cds--side-nav__items {
  width: fit-content;
  text-align: left;
  padding-bottom: 6rem; // ensure scrollable
}

.cds--side-nav.expanded {
  width: 16rem;
}

.cds--side-nav.rail {
  width: 3rem;
  overflow: visible;
}

.popover-box {
  padding: 5px;
  position: relative;
  top: 20px;
  z-index: 9001;
  /* navbar is 9000 */
  font-size: 80%;
}

.left-nav-search > #search {
  border-width: 0px;
  background-color: #f4f4f4;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 0.5rem 0.5rem 3.5rem;
}

.left-nav-search > .cds--search-close {
  height: 100%;
}

// hide scrollbar for chrome, other webkit browsers (safari, opera)
.cds--side-nav__items::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cds--side-nav__items {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.nav-popover-obj {
  // make the container wide enough for text
  width: 25rem;
}

.sideNavLinkRequired:after {
  content: "*";
  padding-left: 0.1rem;
  color: red;
}

a.cds--side-nav__link {
  outline: none !important;
  border: none !important;
}

// make navigation wide enough, hide scroll bar
.cds--side-nav--ux .cds--side-nav__items {
  width: fit-content;
}

.cds--side-nav.expanded {
  width: 16rem;
}

.cds--side-nav.rail {
  width: 3rem;
}

a.cds--side-nav__link {
  outline: none !important;
  border: none !important;
}

.blueTileRail {
  background-color: #0f62fe !important; // necessary to override default hovering
  width: 3rem;
}

.blueTileExpanded {
  background-color: #0f62fe !important; // necessary to override default hovering
  width: 16rem;
}

// Target direct div beneath the link and then the svg
.cds--side-nav__link.whiteFill > div > svg {
  fill: white;
}

// Target spans beneath to set color of text to white
.cds--side-nav__link.whiteFill span {
  color: white !important; // necessary to override default hovering
}

.cds--side-nav__divider.railDivider {
  width: 3rem;
  margin: 0;
}

.cds--side-nav__divider.expandedDivider {
  margin: 0;
}

.navPopoverAlign {
  left: 75% !important; // overwrite
}

// crazy popover hover fix
.cds--side-nav__link.rail {
  width: 3rem;
  margin-right: 1.5rem;
}

// links take up whole sidenav
.cds--side-nav__link.expanded {
  width: 16rem; // full width
}

div .cds--side-nav__overlay-active {
  /* specify application to div to raise class priority */
  width: 100vw;
  height: 100vh;
  background-color: rgba(22, 22, 22, 0.5);
  background-color: var(--cds-overlay, rgba(22, 22, 22, 0.5));
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.5, 0, 0.1, 1),
    background-color 300ms cubic-bezier(0.5, 0, 0.1, 1);
}

// Styles for header menu box
.no-marker {
  list-style-type: none;
}

.projectMenu {
  height: 100%;
}

.headerMenuBox {
  width: fit-content;
  height: fit-content;
  background-color: var(--white);
  box-shadow: -1px 1px 9px 2px #d5d2d2;
  padding: 0.5rem;
  min-width: 19rem;
}

.headerMenuBoxItemText {
  padding-left: 1rem;
  padding-right: 1rem;
}

.headerMenuBoxItemLink > a {
  color: var(--blue);
}

.marginBottomXs {
  margin-bottom: 0.5rem;
}

.invalid-form-left-nav {
  background-color: var(--red);
}
