.leftPanelWidth {
  width: 60%;
  max-width: 60%; /* do not expand any larger or allow overflow above 60% */
  margin-right: 2rem;
}

.widthOneHundredPercent {
  width: 100%;
}

/* Alignment */
.displayFlex {
  display: flex;
}

/* Margin and padding */
.navBarAlign {
  margin: 3.5rem 1rem 0rem 3.5rem;
}

.boxShadow {
  box-shadow: -1px 1px 9px 2px #d5d2d2;
}

.fieldPadding {
  padding: 1.5rem 0.5rem 2rem 1rem;
}

.updateBanner {
  position: fixed;
  z-index: 10000;
  left: 4rem;
  max-width: 93vw;
  text-align: center;
}
