@use "@carbon/react";
@use "@carbon/styles/scss/grid";
@include grid.flex-grid();

.minHeight {
  // height of the screen - footer size
  min-height: calc(100vh - 3rem);
}

/* CSS for new CRAIG footer */
.newFooter {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between safe;
  padding: 2rem;
  background-color: #f4f4f4;
  height: fit-content;
  left: 3.5rem;
  right: 1.5rem;
  width: calc(100vw - 5.4rem);
  position: relative;
  bottom: 0;
}

.marginTopSkipRow {
  margin-top: 4.6rem;
}

.newFooterFlexRow {
  display: flex;
  flex-flow: row wrap;
}

.newFooterFlexColumn {
  display: flex;
  flex-flow: column wrap;
  row-gap: 1.2rem;
  flex-grow: 0.2;
}

.newFooterLogoColumn {
  display: flex;
  flex-flow: columnn wrap;
  justify-content: flex-end;
  align-self: center;
  flex-grow: 2;
}

.newFooterBottomText {
  padding-right: 0.8rem;
  align-self: flex-end;
}
