.terraform.*
example_tests/.terraform.*
.terraform/
.DS_Store
terraform.*.*
terraform.tfstate
provider.tf
*.x
dev.sh
config_test/
config_test.tf
dev.*
.env
node_modules/
frog.*
terraform.tfvars
.nyc_output/
.acceptance_tests/
tfplan.json
example-tests/acceptance-tests/package-lock.json
example-tests/acceptance-tests/node_modules
client/package-lock.json
package-lock.json
goals.md
.vscode
.yarn
.circleci
.yarnrc
.old
compatibility-tests/templates/*/override.json
tfxjs.tfvars
toad.*

#production
/build
.icse/
tf-test/
dev/
