p {
  font-size: var(--cds-body-02-font-size, 1rem);
  font-weight: var(--cds-body-02-font-weight, 400);
  letter-spacing: var(--cds-body-02-letter-spacing, 0);
  line-height: var(--cds-body-02-line-height, 1.5);
}

.redFill {
  fill: red;
}

.greenFill {
  fill: green;
}

.marginTopXs {
  margin-top: 0.5rem;
}

.marginBottomSmall {
  margin-bottom: 1rem;
}

.marginLeft {
  margin-left: 2rem;
}

.marginLeftMed {
  margin-left: 1rem;
}

.marginRightMed {
  margin-right: 1rem;
}

.hidden {
  display: none;
}

.marginLeftIcon {
  margin-left: 5px;
}
